body {
  background-color: azure;
  display: flex;
  justify-content: center;
}
.ttt {
  /* border: 2px solid red; */
  width: 400px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ttt_body {
  /* border: 2px solid green; */
  width: 300px;
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.bx1,
.bx2,
.bx3 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.bx {
  width: 33%;
  font-size: 80px;
}

.ttt_footer {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.start {
  /* border: 2px solid red; */
  height: 50px;
  width: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start p {
  display: none;
  font-weight: bolder;
  font-family: cursive;
}

#disp_x {
  display: block;
}

.reset {
  /* border: 2px solid yellowgreen; */
  height: 50px;
  width: 150px;
}
.reset input {
  width: 100%;
  height: 100%;
}
